{% extends "base.html" %}

{% block content %}

<div>
    <div class="social">
        <a  class="insta" href="https://www.instagram.com/beingajaat/">
           <img  src="/static/instagram.jpg" alt="Instagram" height="50" width="50">
        </a>
        <br>
        <a class="twitter" href="https://twitter.com/beingajaat">
            <img  src="/static/twitter.png" alt="Twitter" height="50" width="50">
         </a>
         <br>
         <a class="link" href="https://www.linkedin.com/in/akshay-malik-19489019b/">
            <img  src="/static/linkedin.png" alt="Linkedin" height="50" width="50">
         </a>
    </div>
</div>

{% endblock %}