<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styelsheet" type="text/css" href="/static/syntax.css"/>
</head>
<body>
    <div class="container">
        <div class="brand">
            <h2 href="/">No Name Web</h2>
        </div>
        <div class="nav">
            <a href="#">FORM</a>
            <a href="#">BLOGS</a>
            <a href="#">ABOUT US</a>
        </div>
    </div>
</body>
</html>