{% extends "base.html" %}

{% block content %}
<!--Detail about pages -->
  <div>  
      <div class="main">
        <h2 class="registration">Registration</h2>
        <br>
        <p class="reg-des">In registration you'll see a from to fill</p>
        <br>
        <h2 class="blog">blogs</h2>
        <br>
        <p class="blog-des">In blogs you will see some blogs copied by me from other sources.</p>
        <br>
        <h2 class="aboutus">About-Us</h2>
        <br>
        <p class="about-des">In about us section you will know about my social handles.</p>
      </div>
  </div>

{% endblock  %}