{% extends "base.html" %}

{% block content %}

<!-- {% for n in blogData %} -->
  <div>  
      <div class="post">
        <h2 class="post-title">Rigistration</h2>
        <br>
        <!-- <br> -->
        <p class="post-content">In about us section you will know about my social handles</p>
        <!-- <br>     -->
        <h2 class="post-title">blogs</h2>
        <br>
        <!-- <p class="post-owner">{{n.auther}} | {{n.created_on}}</p> -->
        <!-- <br> -->
        <p class="post-content">In blogs you will see some blogs copied by me from other sources.</p>
        <br>
        <h2 class="post-title">About-Us</h2>
        <!-- <p class="post-owner">{{n.auther}} | {{n.created_on}}</p> -->
        <br>
        <p class="post-content">In about us section you will know about my social handles</p>
      </div>
  </div>    
<!-- {% endfor %} -->

{% endblock  %}